{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "ie": 10
        }
      }
    ]
  ],
   // 解决多个地方使用相同代码导致打包重复的问题
  "plugins": ["@babel/plugin-transform-runtime"] 
}